@media screen and (min-width: 1921px) {

    .mobile {
        display: none;
    }
    .showarea {
        display: none;
    }

    .showmail {
        display: none;
    }

}

@media screen and (min-width: 1700px) and (max-width: 1920px) {
    .showarea {
        position: absolute;
        left: 7vw;
        bottom: 17vh
    }

    .showmail {
        z-index: 100;
        position: absolute;
        right: 5vw;
        top: 17vh
    }

    .mobile {
        display: none;
    }
}


@media screen and (min-width: 1500px) and (max-width: 1699px) {
    .showarea {
        position: absolute;
        left: 7vw;
        bottom: 15vh
    }

    .showmail {
        z-index: 100;
        position: absolute;
        right: 5vw;
        top: 14.5vh
    }

    .mobile {
        display: none;
    }
}



@media screen and (min-width: 1405px) and (max-width: 1499px) {
    .showarea {
        position: absolute;
        left: 7vw;
        bottom: 13vh;
    }

    .showmail {
        z-index: 100;
        position: absolute;
        right: 2vw;
        top: 12vh
    }

    .mobile {
        display: none;
    }
}



@media screen and (min-width: 1350px) and (max-width: 1404px) {
    .showarea {
        position: absolute;
        left: 7vw;
        bottom: 12vh;
    }


    .showmail {
        z-index: 100;
        position: absolute;
        right: 0.8vw;
        top: 11vh
    }

    .mobile {
        display: none;
    }
}



@media screen and (min-width: 1279px) and (max-width: 1349px) {
    .showarea {
        position: absolute;
        left: 7vw;
        bottom: 10vh;
    }


    .showmail {
       display: none;
    }

    .mobile {
        display: none;
    }
}


@media screen and (min-width: 1180px) and (max-width: 1278px) {
    .showarea {
        position: absolute;
        left: 7vw;
        bottom: 9vh;
    }


    .showmail {
       display: none;
    }

    .mobile {
        display: none;
    }
}

@media screen and (max-width: 1179px) {
    .showarea {
        display: none;
    }

    .beian{
        display: none;
    }

    .showmail {
        z-index: 100;
        display: none;
    }
}